---
import Layout from "@layouts/Layout.astro";
import TopList from "@components/icons/TopList.astro";
import TopTitle from "@components/TopTitle.astro";
import TopPlay from "@components/icons/TopPlay.astro";
import TopCalendar from "@components/icons/TopCalendar.astro";
import { MovieCard, StatusButton } from "@components/MovieCard";
import { GENRE_TITLE, GENRES, genreTitle } from "@libs/genres";
import GenreAction from "@components/icons/GenreAction.astro";
import TopMovie from "@components/icons/TopMovie.astro";
import { GENRE_ICONS } from "@libs/genres";

export const prerender = true;
export async function getStaticPaths() {
  return [
    ...GENRES.map((genre) => ({ params: { subsite: genre } })),
    { params: { subsite: undefined } },
  ];
}
const genre = Astro.params.subsite?.split("/")[0] || "";
const title = `Top Pelis de ${GENRE_TITLE[genre]?.es}`;
---

<Layout
  title={title}
  backButton={false}
  section={`Pelis${genre ? ` (${GENRE_TITLE[genre]?.es.toLowerCase()})` : ""}`}
  genre={genre}
>
  <div class="container mx-auto">
    <div>
      <h2 class="tracking-wider text-white text-xl font-semibold pb-4">
        Cómo elegir tus próximas <span class="text-red-600">top</span>pelis{
          genre ? ` de ${GENRE_TITLE[genre]?.es.toLowerCase()}` : ""
        }...
      </h2>
      <section>
        <span class="block text-justify"
          >Elige una de nuestras <span class="font-semibold underline"
            ><span class="text-white">Top</span> Listas</span
          >, para asegurarte que eliges siempre entre las mejores:</span
        >
        <div
          x-data="{ selectedTab: 'top' }"
          class="w-full max-w-md my-4 p-2 border-2 border-slate-300 rounded-xl"
        >
          <div
            @keydown.right.prevent="$focus.wrap().next()"
            @keydown.left.prevent="$focus.wrap().previous()"
            class="flex gap-2 overflow-x-auto border-b border-slate-300 dark:border-slate-700"
            role="tablist"
            aria-label="tab options"
          >
            <button
              @click="selectedTab = 'top'"
              :aria-selected="selectedTab === 'top'"
              :tabindex="selectedTab === 'top' ? '0' : '-1'"
              :class="selectedTab === 'top' ? 'font-bold text-blue-700 border-b-2 border-blue-700 dark:border-red-600 dark:text-white' : 'text-slate-700 font-medium dark:text-slate-300 dark:hover:border-b-slate-300 dark:hover:text-white hover:border-b-2 hover:border-b-slate-800 hover:text-black'"
              class="flex h-min items-center gap-1 md:gap-2 px-2 md:px-4 py-2 text-sm"
              type="button"
              role="tab"
              aria-controls="tabpanelTop"
            >
              <TopList />
              <TopTitle title="50" />
            </button>
            <button
              @click="selectedTab = 'next'"
              :aria-selected="selectedTab === 'next'"
              :tabindex="selectedTab === 'next' ? '0' : '-1'"
              :class="selectedTab === 'next' ? 'font-bold text-blue-700 border-b-2 border-blue-700 dark:border-red-600 dark:text-white' : 'text-slate-700 font-medium dark:text-slate-300 dark:hover:border-b-slate-300 dark:hover:text-white hover:border-b-2 hover:border-b-slate-800 hover:text-black'"
              class="flex h-min items-center gap-1 md:gap-2 px-2 md:px-4 py-2 text-sm"
              type="button"
              role="tab"
              aria-controls="tabpanelNext"
            >
              <TopPlay />
              <TopTitle title="Next" />
            </button>
            <button
              @click="selectedTab = 'year'"
              :aria-selected="selectedTab === 'year'"
              :tabindex="selectedTab === 'year' ? '0' : '-1'"
              :class="selectedTab === 'year' ? 'font-bold text-blue-700 border-b-2 border-blue-700 dark:border-red-600 dark:text-white' : 'text-slate-700 font-medium dark:text-slate-300 dark:hover:border-b-slate-300 dark:hover:text-white hover:border-b-2 hover:border-b-slate-800 hover:text-black'"
              class="flex h-min items-center gap-1 md:gap-2 px-2 md:px-4 py-2 text-sm"
              type="button"
              role="tab"
              aria-controls="tabpanelYear"
            >
              <TopCalendar />
              <TopTitle title="Year" />
            </button>
          </div>
          <div class="px-2 py-4 text-slate-700 dark:text-slate-300">
            <div
              x-show="selectedTab === 'top'"
              id="tabpanelTop"
              role="tabpanel"
              aria-label="top"
            >
              <span
                >Un lista filtrada de las <span class="font-semibold underline"
                  >50 mejores</span
                > películas, ordenadas por puntuación.</span
              >
              <div class="flex justify-center pt-4">
                <a
                  href={`${genre?.length ? `/${genre}` : ""}/top/50`}
                  class="whitespace-nowrap rounded-xl bg-blue-700 px-4 py-2 text-center text-sm font-medium tracking-wide text-slate-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75 dark:bg-red-600 dark:text-white dark:focus-visible:outline-red-600"
                  role="button">Ir al Top 50</a
                >
              </div>
            </div>
            <div
              x-show="selectedTab === 'next'"
              id="tabpanelNext"
              role="tabpanel"
              aria-label="next"
            >
              <span
                >Un lista personalizada de las <span
                  class="font-semibold underline">siguientes 20</span
                > mejores películas, ordenadas por puntuación, teniendo en cuenta
                las que ya has visto.</span
              >
              <div class="flex justify-center pt-4">
                <a
                  href={`${genre?.length ? `/${genre}` : ""}/next/20`}
                  class="whitespace-nowrap rounded-xl bg-blue-700 px-4 py-2 text-center text-sm font-medium tracking-wide text-slate-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75 dark:bg-red-600 dark:text-white dark:focus-visible:outline-red-600"
                  role="button">Ir a Next 20</a
                >
              </div>
            </div>
            <div
              x-show="selectedTab === 'year'"
              id="tabpanelYear"
              role="tabpanel"
              aria-label="year"
            >
              <span
                >Un lista de las mejores películas <span
                  class="font-semibold underline">por año</span
                >, ordenadas por puntuación.</span
              >
              <div class="flex justify-center pt-4">
                <a
                  href={`${genre?.length ? `/${genre}` : ""}/years`}
                  class="whitespace-nowrap rounded-xl bg-blue-700 px-4 py-2 text-center text-sm font-medium tracking-wide text-slate-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-700 active:opacity-100 active:outline-offset-0 disabled:cursor-not-allowed disabled:opacity-75 dark:bg-red-600 dark:text-white dark:focus-visible:outline-red-600"
                  role="button">Ir a Top Year</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4">
        <h2 class="tracking-wider text-white text-xl font-semibold pb-4">
          Descarta para <span class="text-red-600">personalizar</span>...
        </h2>
        <span class="block text-justify">
          En cualquiera de las listas, podrás ir descartando, las que ya has
          visto (o no quieres ver), para tener siempre tu lista <span
            class="font-semibold underline"
            ><span class="text-white">Top</span>
            personalizada
          </span>
        </span>
        <div class="flex flex-col md:flex-row">
          <div class="w-full py-4 px-8 md:w-64">
            <MovieCard
              initialMovie={{
                id: "238",
                visible: true,
                poster_path: "/5HlLUsmsv60cZVTzVns9ICZD6zU.jpg",
                release_date: "1972-10-20",
                rating: "8.7",
                status: "UNKNOWN",
              }}
              client:load
            />
          </div>
          <div class="py-0 md:py-4 px-10 md:px-0 flex flex-col justify-end">
            <div class="text-sm italic pb-2">
              Prueba los botones sobre la película:
            </div>
            <div class="flex items-center">
              <StatusButton
                status={"UNKNOWN"}
                iconStatus="WATCHED"
                actionStatus="WATCHED"
                onChangeStatus={""}
                showStatus={["UNKNOWN"]}
                opacity={true}
                size="small"
              />
              <span>Ya la he visto</span>
            </div>
            <div class="flex items-center">
              <StatusButton
                status={"UNKNOWN"}
                iconStatus="DISCARD"
                actionStatus="WATCHED"
                onChangeStatus={""}
                showStatus={["UNKNOWN"]}
                opacity={true}
                size="small"
              />
              <span>No la quiero ver</span>
            </div>
            <div class="flex items-center">
              <StatusButton
                status={"UNKNOWN"}
                iconStatus="UNDO"
                actionStatus="UNKNOWN"
                onChangeStatus={""}
                showStatus={["UNKNOWN"]}
                opacity={true}
                size="small"
              />
              <span>Volver a dejar pendiente</span>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4">
        <h2 class="tracking-wider text-white text-xl font-semibold pb-4">
          Elige tú <span class="text-red-600">género</span> favorito...
        </h2>
        <span class="block text-justify"
          >Puedes ajustar el contenido de las listas, según el género que más te
          guste:</span
        >
        <div class="w-full max-w-2xl py-4">
          <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {
              GENRES.map((g) => {
                const Icon = GENRE_ICONS[g];
                const borderColor =
                  g === genre ? "dark:border-red-600" : "dark:border-slate-300";
                return (
                  <a
                    href={`/${g}`}
                    class={`flex items-center rounded-xl gap-2 px-4 py-1.5 font-medium text-slate-700 underline-offset-2 hover:bg-red-700/5 hover:text-black focus-visible:underline focus:outline-none dark:text-slate-300 dark:hover:bg-red-600/10 dark:hover:text-white ${borderColor} dark:border-2 dark:hover:border-red-700`}
                  >
                    <Icon />
                    <TopTitle title={genreTitle(g)} />
                  </a>
                );
              })
            }
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
