---
import Layout from "@layouts/Layout.astro";
import MovieFilters from "@components/MovieFilters";
import { getBestMoviesByYear, getTotalMoviesByYear } from "@libs/turso";
import { MoviesList } from "@components/MoviesList";
import { GENRE_IDS, GENRE_TITLE, GENRES } from "@libs/genres";

export const prerender = true;
export async function getStaticPaths() {
  const totalMoviesByYear = await getTotalMoviesByYear();
  return Object.keys(totalMoviesByYear).flatMap((year) => {
    return [
      ...GENRES.map((genre) => ({ params: { year, subsite: genre } })),
      { params: { year, subsite: undefined } },
    ];
  });
}

const { year, subsite } = Astro.params;
const genre = subsite?.split("/")[0];
const genreIds = genre && GENRE_IDS[genre];
const title = `Top Year - ${year} (${GENRE_TITLE[genre || ""]?.es})`;

const topMovies = (await getBestMoviesByYear(year, genreIds)).map((movie) => ({
  ...movie,
  status: "UNKNOWN",
  visible: true,
}));
---

<Layout
  title={title}
  backButton={true}
  section="Year"
  sectionUrl={`${genre ? `/${genre}` : ""}/years/${year.slice(0, 3)}`}
  subSection={year}
  genre={genre}
>
  <div class="container mx-auto">
    <div>
      <div class="flex justify-between">
        <h2
          class="uppercase tracking-wider text-red-600 text-xl font-semibold pb-4"
        >
          <!-- TOP <span class="text-white">{year}</span> -->
        </h2>
        <div class="pb-4">
          <MovieFilters client:visible />
        </div>
      </div>
      <MoviesList client:visible initialMovies={topMovies} />
    </div>
  </div>
</Layout>
