---
import Layout from "@layouts/Layout.astro";
import YearMoviesList from "@components/YearMoviesList.astro";
import MoviesProgress from "@components/MoviesProgress";
import { getTopMoviesByYear, getTotalMoviesByYear } from "../lib/turso";
import UserNextMovies from "@components/UserNextMovies.astro";

const topMoviesByYear = await getTopMoviesByYear(4);
const totalMoviesByYear = await getTotalMoviesByYear();
const totalMovies = Object.keys(totalMoviesByYear).reduce(
  (totalMovies, year) => {
    return totalMovies + totalMoviesByYear[year];
  },
  0
);
const initialTotalMoviesStats = {
  seenMoviesCount: 0,
  seenPercentage: 0,
  discardMoviesCount: 0,
  discardPercentage: 0,
  unseenMoviesCount: totalMovies,
  unseenPercentage: 100,
};
const firstYear = topMoviesByYear[0].year;
const lastYear = topMoviesByYear[topMoviesByYear.length - 1].year;
---

<Layout title="Top Pelis" backButton={false}>
  <div class="container mx-auto px-4 py-8">
    <div>
      <h2 class="tracking-wider text-white text-xl font-semibold">
        Tus próximas <span class="text-red-600">top</span>pelis...
      </h2>
      <UserNextMovies />
      <h2 class="tracking-wider text-white text-xl font-semibold">
        Lo que llevas visto ({firstYear} - {lastYear})
      </h2>
      <MoviesProgress
        client:load
        initialStats={initialTotalMoviesStats}
        totalMovies={totalMovies}
      />
      <YearMoviesList
        topMoviesByYear={topMoviesByYear}
        totalMoviesByYear={totalMoviesByYear}
      />
    </div>
  </div>
</Layout>
