---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import YearMoviesList from "@components/YearMoviesList.astro";
import MoviesProgress from "@components/MoviesProgress";
import {
  getNextUserMovies,
  getTopMoviesByYear,
  getTotalMoviesByYear,
} from "../lib/turso";
import { NextMoviesList } from "@components/MoviesList";

const topMoviesByYear = await getTopMoviesByYear(4);
const totalMoviesByYear = await getTotalMoviesByYear();
const totalMovies = Object.keys(totalMoviesByYear).reduce(
  (totalMovies, year) => {
    return totalMovies + totalMoviesByYear[year];
  },
  0
);
const initialTotalMoviesStats = {
  seenMoviesCount: 0,
  seenPercentage: 0,
  discardMoviesCount: 0,
  discardPercentage: 0,
  unseenMoviesCount: totalMovies,
  unseenPercentage: 100,
};
const firstYear = topMoviesByYear[0].year;
const lastYear = topMoviesByYear[topMoviesByYear.length - 1].year;

const nextCount = 10;

const nextAnonymousMovies = (await getNextUserMovies())
  .slice(0, nextCount)
  .map((movie) => ({
    ...movie,
    status: "UNKNOWN",
    visible: true,
  })); // default movies without user (anonymous)
---

<Layout title="Top Pelis" backButton={false}>
  <div class="container mx-auto">
    <div>
      <h2 class="tracking-wider text-white text-xl font-semibold pb-4">
        Tus próximas <span class="text-red-600">top</span>pelis...
      </h2>
      <NextMoviesList
        client:visible
        initialNextMovies={nextAnonymousMovies}
        next={nextCount}
      />
      <h2 class="tracking-wider text-white text-xl font-semibold py-4">
        Lo que llevas visto ({firstYear} - {lastYear})
      </h2>
      <MoviesProgress
        client:visible
        initialStats={initialTotalMoviesStats}
        totalMovies={totalMovies}
      />
      <YearMoviesList
        topMoviesByYear={topMoviesByYear}
        totalMoviesByYear={totalMoviesByYear}
      />
    </div>
  </div>
</Layout>
