---
export const prerender = true;

import Layout from "@layouts/Layout.astro";
import MoviesProgress from "@components/MoviesProgress";
import { getTopMoviesByYear, getTotalMoviesByYear } from "@libs/turso";

const topMoviesByYear = await getTopMoviesByYear(4);
const totalMoviesByYear = await getTotalMoviesByYear();
const totalMovies = Object.keys(totalMoviesByYear).reduce(
  (totalMovies, year) => {
    return totalMovies + totalMoviesByYear[year];
  },
  0
);
const initialTotalMoviesStats = {
  seenMoviesCount: 0,
  seenPercentage: 0,
  discardMoviesCount: 0,
  discardPercentage: 0,
  unseenMoviesCount: totalMovies,
  unseenPercentage: 100,
};
const firstYear = topMoviesByYear[0].year;
const lastYear = topMoviesByYear[topMoviesByYear.length - 1].year;
---

<Layout title="Top Perfil" backButton={false} section="Perfil">
  <div class="container mx-auto">
    <h2 class="tracking-wider text-white text-xl font-semibold pb-4">
      Lo que llevas visto ({firstYear} - {lastYear})
    </h2>
    <MoviesProgress
      client:visible
      initialStats={initialTotalMoviesStats}
      totalMovies={totalMovies}
    />
    <h2 class="tracking-wider text-white text-xl font-semibold py-4">Logros</h2>
    <span class="text-slate-300 italic">Próximamente...</span>
  </div>
</Layout>
