---
import { YearMoviesCarousel } from "./MoviesCarousel";
import YearMoviesCard from "@components/YearMoviesCard";

interface Props {
  topMoviesByYear: any;
  totalMoviesByYear: any;
  genre: string;
}

const { topMoviesByYear, totalMoviesByYear, genre } = Astro.props;
---

<!-- Desktop -->
<div class="hidden md:block">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
  >
    {
      topMoviesByYear.map((yearMovies) => (
        <YearMoviesCard
          client:visible
          yearMovies={yearMovies}
          totalMovies={totalMoviesByYear[yearMovies.year]}
          genre={genre}
        />
      ))
    }
  </div>
</div>
<!-- Mobile -->
<div class="block md:hidden">
  <YearMoviesCarousel
    client:visible
    topMoviesByYear={topMoviesByYear}
    totalMoviesByYear={totalMoviesByYear}
    genre={genre}
  />
</div>
