---
import Layout from "@layouts/Layout.astro";
import { NextMoviesList } from "@components/MoviesList";
import { getNextUserMovies } from "lib/turso";
import LoginMenuOption from "@components/LoginMenuOption";
import { GENRE_IDS, GENRE_TITLE } from "@libs/genres";

const { next } = Astro.params;
const genre = Astro.params.subsite?.split("/")[0];
const genreIds = genre && GENRE_IDS[genre];
const title = `Top Next (${GENRE_TITLE[genre || ""]?.es})`;
const userEmail = Astro.locals?.user?.email;

const nextAnonymousMovies = (await getNextUserMovies(userEmail, genreIds))
  .slice(0, Number(next))
  .map((movie) => ({ status: "UNKNOWN", visible: true, ...movie })); // default movies without user (anonymous)
---

<Layout title={title} backButton={true} section="Next" genre={genre}>
{userEmail ?
  <div class="container mx-auto">
    <div class="flex justify-between">
      <h2
        class="uppercase tracking-wider text-red-600 text-xl font-semibold pb-4"
      >
        <span class="text-white">
          <!-- TODO: FUTURE FILTERS -->
        </span>
      </h2>
      <h6 class="tracking-wider text-white font-semibold pb-4">
        Next <span class="text-red-600">{next}</span>
      </h6>
    </div>
    <NextMoviesList
      client:visible
      initialNextMovies={nextAnonymousMovies}
      next={Number(next)}
    />
  </div>
: 
<div class="flex flex-col gap-4">
	<span>Esta lista es <span class="underline">personalizada</span> requiere que inicies sesión para verla.</span>
	<LoginMenuOption client:load />
</div>
}	
</Layout>
